<h1>Tree Lovers Welcome!</h1>
<p><%= link_to "See a list of tree species", trees_path %></p>
<p><%= link_to "See all recorded tree sightings", sightings_path %></p>
<p><%= link_to "Record a sighting", new_sighting_path %></p>