.App {
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  /* background: linear-gradient(white, purple); */
  background-image: url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #d6e1d8;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  /* box-shadow: 2px 5px 5px #333; */
  width: 85%;
  margin: auto;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#task-container {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  background: rgba(255, 255, 255, 0.3);
  width: 70%;

}

.task-item {
  height: 5vh;
  background-color: rgba(255, 255, 255, .6);
}

.task-text {
  padding-left: 50px;
}
