<h1>SALE SALE!!</h1>

<h2>Last make you visited was: <%= session["last_make_visited"] %></h2>

<ul>
  <% @cars.each do |car| %>
    <li><%= link_to car.print_banner, car_path(car) %></li>
  <% end %>
</ul>
